# Editor config only affects the editors. You'll want to set up linting.
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = tab
indent_size = 1
trim_trailing_whitespace = true

